{% extends "layout.html" %}
{% block content %}

<section class="content-section">

    			<form name="predictForm" method="POST" action="/predict" onsubmit="return validateForm()">

    				 <div class="form-group form">

    				 		<div class="row">

    				 	<div class="col-lg-6">

    				 		<h2 class="text-success">In-Game NFL Win Probability Model</h2><br>
						
						<h4 class="text-success"> Sample situation <br></h3>
						<p class="text-dark"><small>It is February 5, 2017. With 8:31 left in the 3rd quarter, the New England Patriots receive the ball on 1st & 10 at their own 25 yard line, trailing 28-3 to the Atlanta Falcons.
						The Patriots are the away team (actually, both teams are an away team because this game is on a neutral field) and the Patriots entered the game as 3.5 point favorites. <br>
						Given this situation, we can estimate the probability the Patriots eventually win the game.<br>
						<span class="text-dark">
						The model calculates the win probability (WP) of the team with the ball (the offense).<br>
						Quarter: 3, Minutes: 8, Seconds: 31, Score Difference: -25, Fav/Dog: 1, Home/Away: 0, Point Spread: 3, Point Spread Half: 0.5, Down: 1, Distance: 10, Ball Location: 25</small></p>
    				 		</span>
						<h3 class="text-warning">Team on Offense WP:
						<h2 class="text-warning">{% if labelo %} {{ labelo }} {% endif %}%</h2>
						</h3>
						<br>
						<h3 class="text-primary";">Team on Defense WP:
						<h2 class="text-primary">{% if labeld %} {{ labeld }} {% endif %}%</h2>
						</h3>
							  <br>
							  <button class="btn btn-lg btn-success" type="submit">
							  	Predict
							  </button>

						</div>

						<div class="col-lg-6">
              <div class="row">
							<div class="col-lg-6 mx-auto">
							<br>

                <select name="Quarter" class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
                <label for="month" class="text-danger">Quarter</label><br>
                <p><small class="text-dark">Which quarter is the game in</small></p>

						    <select name="Seconds" class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="promo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						      <option>59</option>
						      <option>58</option>
						      <option>57</option>
						      <option>56</option>
						      <option>55</option>
						      <option>54</option>
						      <option>53</option>
						      <option>52</option>
						      <option>51</option>
						      <option>50</option>
						      <option>49</option>
						      <option>48</option>
						      <option>47</option>
						      <option>46</option>
						      <option>45</option>
						      <option>44</option>
						      <option>43</option>
						      <option>42</option>
						      <option>41</option>
						      <option>40</option>
						      <option>39</option>
						      <option>38</option>
						      <option>37</option>
						      <option>36</option>
						      <option>35</option>
						      <option>34</option>
						      <option>33</option>
						      <option>32</option>
						      <option>31</option>
						      <option>30</option>
						      <option>29</option>
						      <option>28</option>
						      <option>27</option>
						      <option>26</option>
						      <option>25</option>
						      <option>24</option>
						      <option>23</option>
						      <option>22</option>
						      <option>21</option>
						      <option>20</option>
						      <option>19</option>
						      <option>18</option>
						      <option>17</option>
						      <option>16</option>
						      <option>15</option>
						      <option>14</option>
						      <option>13</option>
						      <option>12</option>
						      <option>11</option>
						      <option>10</option>
						      <option>9</option>
						      <option>8</option>
						      <option>7</option>
						      <option>6</option>
						      <option>5</option>
						      <option>4</option>
						      <option>3</option>
						      <option>2</option>
						      <option>1</option>
						      <option>0</option>
						    </select>
						    <label for="promo" class="text-danger">Seconds</label>
						    <p><small class="text-dark">Seconds remaining <br>(in the minute that is remaining)</small></p>
						    
		
						    <select name="Favorite" class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="school_holliday" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  						      <option>1</option>
  						      <option>0</option>
  						    </select>
  						    <label for="school_holliday" class="text-danger">Favorite or Underdog</label>
                  <p><small class="text-dark">Before the game, was the team on offense favored to win? 1 = Yes | 0 = No</small></p>
	  
							
						    <select name="PointSpread" class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="state_holliday" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						      <option>0</option>
						      <option>1</option>
						      <option>2</option>
						      <option>3</option>
						      <option>4</option>
						      <option>5</option>
						      <option>6</option>
						      <option>7</option>
						      <option>8</option>
						      <option>9</option>
						      <option>10</option>
						      <option>11</option>
						      <option>12</option>
						      <option>13</option>
						      <option>14</option>
						      <option>15</option>
						      <option>16</option>
						      <option>17</option>
						      <option>18</option>
						      <option>19</option>
						      <option>20</option>
						      <option>21</option>
						      <option>22</option>
						      <option>23</option>
						      <option>24</option>
						      
						      
						    </select>
						    <label for="point_spread" class="text-danger">Point Spread (abs value)</label><br>
                <p><small class="text-dark">How much was the favorite expected to win by? (predicted margin of victory)</small></p>

                <select name="Down" class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="assortment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						      <option>1</option>
						      <option>2</option>
						      <option>3</option>
						      <option>4</option>
						    </select>
						    <label for="assortment" class="text-danger">Down</label><br>
                <p><small class="text-white">1st | 2nd | 3rd | 4th</small></p>
	
	
	<h5 class="text-danger">Ball Location (1 - 99)</h5>
						    <div class="input-group">
								  <div class="input-group-prepend">
								    <span class="input-group-text"></span>
								  </div>
								  <input type="text" name="Field" value="25" class="form-control" aria-label="With textarea">
								</div>
                <p><small class="text-dark">Please input any integer between 1 - 99.<br>
                  1 is the team's own 1 yard line. 99 is the opponent's 1 yard line.</small></p>
								</div>

                <div class="col-lg-6 mx-auto">
                  <br>
                  <select name="Minute" class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="day_of_the_week" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  						      <option>14</option>
  						      <option>13</option>
  						      <option>12</option>
  						      <option>11</option>
  						      <option>10</option>
  						      <option>9</option>
  						      <option>8</option>
						      <option>7</option>
						      <option>6</option>
						      <option>5</option>
						      <option>4</option>
						      <option>3</option>
						      <option>2</option>
						      <option>1</option>
						      <option>0</option>
  						    </select>
  						    <label for="day_of_the_week" class="text-danger">Minutes Remaining</label><br>
                  <p><small class="text-dark">Minutes remaining in the quarter</small></p>

                  <select name="Score" class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="promo2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  						      <option>-42</option>
  						      <option>-41</option>
						      <option>-40</option>
						      <option>-39</option>
						      <option>-38</option>
						      <option>-37</option>
						      <option>-36</option>
						      <option>-35</option>
						      <option>-34</option>
						      <option>-33</option>
						      <option>-32</option>
						      <option>-31</option>
						      <option>-30</option>
						      <option>-29</option>
						      <option>-28</option>
						      <option>-27</option>
						      <option>-26</option>
						      <option>-25</option>
						      <option>-24</option>
						      <option>-23</option>
						      <option>-22</option>
						      <option>-21</option>
						      <option>-20</option>
						      <option>-19</option>
						      <option>-18</option>
						      <option>-17</option>
						      <option>-16</option>
						      <option>-15</option>
						      <option>-14</option>
						      <option>-13</option>
						      <option>-12</option>
						      <option>-11</option>
						      <option>-10</option>
						      <option>-9</option>
						      <option>-8</option>
						      <option>-7</option>
						      <option>-6</option>
						      <option>-5</option>
						      <option>-4</option>
						      <option>-3</option>
						      <option>-2</option>
						      <option>-1</option>
						      <option selected="selected">0</option>
						      <option>1</option>
						      <option>2</option>
						      <option>3</option>
						      <option>4</option>
						      <option>5</option>
						      <option>6</option>
						      <option>7</option>
						      <option>8</option>
						      <option>9</option>
						      <option>10</option>
						      <option>11</option>
						      <option>12</option>
						      <option>13</option>
						      <option>14</option>
						      <option>15</option>
						      <option>16</option>
						      <option>17</option>
						      <option>18</option>
						      <option>19</option>
						      <option>20</option>
						      <option>21</option>
						      <option>22</option>
						      <option>23</option>
						      <option>24</option>
						      <option>25</option>
						      <option>26</option>
						      <option>27</option>
						      <option>28</option>
						      <option>29</option>
						      <option>30</option>
						      <option>31</option>
						      <option>32</option>
						      <option>33</option>
						      <option>34</option>
						      <option>35</option>
						      <option>36</option>
						      <option>37</option>
						      <option>38</option>
						      <option>39</option>
						      <option>40</option>
						      <option>41</option>
						      <option>42</option>
  						    </select>
  						    <label for="promo2" class="text-danger">Score Difference</label>
  						    <p><small class="text-dark">How much is the offense trailing/leading? <br>trailng (-), leading (+)</small></p>
						    
						    
	  
	  <select name="Home" class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="state_holliday" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						      <option>1</option>
						      <option>0</option>
						    </select>
						    <label for="state_holliday" class="text-danger">Home or Away</label><br>
                <p><small class="text-dark">Is the team on offense playing at home? <br>1 = Home | 0 = Away</small></p>
	
	
	
	  <select name="Half" class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="ps_half" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  						      <option>0.0</option>
  						      <option>0.5</option>
  						    </select>
  						    <label for="ps_half" class="text-danger">Point Spread Half</label>
                  <p><small class="text-dark">Is the point spread a half number? <br>0.5 = Yes | 0.0 = No</small></p>
	  

                  <select name="Distance" class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="store_type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  						      <option>1</option>
  						      <option>2</option>
  						      <option>3</option>
						      <option>4</option>
						      <option>5</option>
						      <option>6</option>
						      <option>7</option>
						      <option>8</option>
						      <option>9</option>
						      <option selected="selected">10</option>
						      <option>11</option>
  						      <option>12</option>
  						      <option>13</option>
						      <option>14</option>
						      <option>15</option>
						      <option>16</option>
						      <option>17</option>
						      <option>18</option>
						      <option>19</option>
						      <option>20</option>
						      <option>21</option>
  						      <option>22</option>
  						      <option>23</option>
						      <option>24</option>
						      <option>25</option>
						      <option>26</option>
						      <option>27</option>
						      <option>28</option>
						      <option>29</option>
						      <option>30</option>
                    
  						    </select>
  						    <label for="store_type" class="text-danger">Distance to 1st</label><br>
                  <p><small class="text-dark">Yards needed to reach a 1st down</small></p>

                </div>

						</div>
          </div>

  					</div>
    			</div>
    		</form>
    	</div>
    </div>
</section>

{% endblock %}
